*{
    margin:0;
}

html {
    text-align: center;
    padding: 2rem, 4rem;
  
}

h2 {
    padding: 2rem 0rem;;
}


body {

    font-family: 'Roboto';
    font-size: 18px;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    line-height: 2rem;
    
}
  


li {
    background-color:  #FFFFFF;
    color: #000000;
    display: inline-block;
    text-align: center; 
    margin: 0.5rem 1rem;
    text-decoration: none;
}

li:hover {
    color: #24365A;
    transform: scale(1.3);
      
}

.navlist ul a {
    text-decoration: none;
}

.main {
    background-image: url(img/banner.jpg);
    margin-bottom: 0;
    height: 23rem;
    padding: 11rem;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;

}

.main h1 {
    font-weight: 900;
    color: #FFFFFF;
    text-align: left;
    margin-left: 15%;
    padding: 8rem 0rem;
    font-size: 4rem;
    line-height:130%;
    
    
}

.belfast {
    color:  #FFE964;    
}

.international {
    color:#FF523D;
}

.kindergarten {
    color: #223C88;
}

.on {
    background-color:  #FFE964;
    margin-top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: center;
    width: 100vw;
}

.on h2 {
    width: 100%;
}

.on p {
    padding-bottom: 2rem;   
}

.about {
    background-color:  #FFFFFF;
    justify-content: center;
    padding: 3rem 0rem;
}

.about h2 {
    text-align: left;
    margin-left: 15%;
}

.team {
   background-color:#FF523D;
   color: #FFFFFF;
   text-align: center;
}

.team h2 {
    text-align: left;
    margin-left: 15%;  
}

.team p {
    text-align: center;
    margin: auto;
    padding: 1rem;
}

.contact
{
    background-color:  #223C88;
    color: #FFFFFF;
    text-align:left;
    
}

.contact h2, p {
    text-align: left;
    margin-left: 15%; 
}

@media screen and (max-width: 1000px) {

    .contact h2, p {
        text-align: left;
        padding: 2rem;
        margin-left: 0;
    }

    .main h1 {
    margin-left: -8rem;
    font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .contact {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 515px) {

    .about h2, .team h2 {
       display: flex;
       justify-content: center;
       margin: auto 0;
    }

    header, nav .burger {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      nav .burger {
        font-size: 4em;
        flex-flow: row nowrap;
        padding: 1.4rem;
        background-color: #24365A;
        color: #fff;
      }
      
      nav .burger::after {
        content: "\2630";
      }
      
      .drop-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-decoration: none;
        background-color: #FFE964;
      }

      .dropdown a:hover {
        color: #24365A; 
      }

      li:hover {
        color: #24365A;
      }
      
      .current {
        cursor: pointer;
      }
      
      .drop-item:hover {
        color: #24365A;
        background-color: #FFE964;
      }
      
      .dropdown {
        height: 0;
        overflow-y: hidden;
        overflow-x: hidden;
        transition: 1s;
        
      }
      
      .dropdown a {
        font-size: 1.5rem;
        color: #24365A;
        
      }
      
      .exp .dropdown {
        height: 40vh;
        background-color: #FFE964;
      }

      .navlist {
          display: flex;
          justify-content: center;
      }

      ul {
          margin: auto 0;
          padding-right: 2rem;
          
      }

      li {
          width: 100vw;
          background-color: #FFE964;
          text-align: center;
      }

      .contact p {
        width: 200px;
    }
      
}

@media screen and (max-width: 375px) {
    .team img {
        height: 250px;
    }

    .main h1 {
        font-size: 2.5rem;
    }

    
}


